<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: sans-serif;
            
        }
        main{
            padding: 1rem;
        }
        .main-header{
            width: 100%;
            height: 3.5rem;
            background-color: rgb(197, 180, 71);
            padding: 0 1.5rem;
        }
        .main_header_nav{
            height: 100%;
            display: flex;
            align-items: center;
        }
        .main_header_item-list{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

        }
        .main_header_item{
            padding: 0;
            margin: 0 1rem;


        }
        .main_header_item a{
            text-decoration: none;
            color: rgb(12, 12, 12);
        }
        .main_header_item a:hover,
        .main_header_item a:active,
        .main_header_item a.active{
            color: rgb(97, 2, 186);
        }

        

    </style>
</head>
<body>
    <header class="main-header">
        <nav class="main_header_nav">
            <ul class="main_header_item-list">
                <li class="main_header_item" ><a class="active" href="/">Shop</a></li>
                <li class="main_header_item" ><a href="add-product">Add-Product</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page not found!!!!</h1>
</body>
</html> -->