<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
   <%- include('includes/navigation.ejs') %>

   
<main>
    <h1>Contact Us</h1>
    <form action="/contactus" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</main>
<%- include('includes/end.ejs') %>



<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main_header_nav">
            <ul class="main_header_item-list">
                <li class="main_header_item"><a class="active" href="/">Shop</a></li>
                <li class="main_header_item"><a href="/add-product">Add-Product</a></li>
                <li class="main_header_item"><a href="/contactus">Contact Us</a></li> 
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contact Us</h1>
        <form action="/contactus" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
 -->