body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.form-container {
  display: none;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.table-container {
  display: none;
}
#insertRecordBtn {
  display: none; /* Initially hide the button */
  margin-top: 10px; /* Add some top margin */
}

#insertRecordFormContainer {
  display: none; /* Initially hide the insert record form container */
}
