body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #083e18;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  h2{
    margin-left: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  section {
    margin: 1em;
  } 
  #booksBorrowed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  #booksBorrowed .book {
    color: #ddd;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #1a1c1b;
    padding: 1em;
    margin-bottom: 1em;
     
  }
  
  #returnedBooks{
    background-color: rgb(190, 226, 147);
    margin: 1em;
  }
  
  .book {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
  }
  
  .payFineBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  
  .returnBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  