
 body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
}

h1 {
    text-align: center;
    color: chocolate;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(112, 110, 106, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
    margin: 20px;
}

#itemTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#itemTable th, #itemTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#itemTable th {
    background-color: #f2f2f2;
}

#itemTable button {
    cursor: pointer;
}

#itemTable button:hover {
    background-color: #ddd;
}
