*{
    margin: 0;
    padding: 0;
}
h1{
    color:#E0E1DD ;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:#415A77;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    padding: 5vmin;
    justify-content: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin ;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
    font-size: 10vmin;
    color: #0D1B2A;
    background-color: rgb(241, 244, 245);

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#E0E1DD;
    color: #0D1B2A;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(26, 26, 26, 0.25);
    border: none;
}

#newgame-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#E0E1DD;
    color: #0D1B2A;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(26, 26, 26, 0.25);
    border: none; 
}
#msg{
    color: rgb(241, 244, 245);
    font-size: 6vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}